/*
! tailwindcss v3.0.7 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: currentColor;
    /* 2 */
}
::before,
::after {
    --tw-content: "";
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
    color: inherit;
    text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
    font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
    font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: collapse;
    /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
    text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 1 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
    outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
    box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
    vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
    -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
    display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: 0;
}
legend {
    padding: 0;
}
ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
    resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
input::placeholder,
textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
    cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
    max-width: 100%;
    height: auto;
}
/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
    display: none;
}
*,
::before,
::after {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: var(--tw-empty, /*!*/ /*!*/);
    --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
    --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
    --tw-invert: var(--tw-empty, /*!*/ /*!*/);
    --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
    --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
        var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
        var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.z-40 {
    z-index: 40;
}
.z-50 {
    z-index: 50;
}
.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.ml-3 {
    margin-left: 0.75rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.ml-1 {
    margin-left: 0.25rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mt-12 {
    margin-top: 3rem;
}
.mt-8 {
    margin-top: 2rem;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.table {
    display: table;
}
.hidden {
    display: none;
}
.h-10 {
    height: 2.5rem;
}
.h-8 {
    height: 2rem;
}
.h-4 {
    height: 1rem;
}
.h-full {
    height: 100%;
}
.w-10 {
    width: 2.5rem;
}
.w-8 {
    width: 2rem;
}
.w-4 {
    width: 1rem;
}
.w-full {
    width: 100%;
}
.w-11\/12 {
    width: 91.666667%;
}
.w-1\/2 {
    width: 50%;
}
.w-3\/4 {
    width: 75%;
}
.w-1\/4 {
    width: 25%;
}
.w-12 {
    width: 3rem;
}
.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.gap-8 {
    gap: 2rem;
}
.gap-2 {
    gap: 0.5rem;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.rounded {
    border-radius: 0.25rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.rounded-l-lg {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.rounded-r-md {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
.border {
    border-width: 1px;
}
.border-t {
    border-top-width: 1px;
}
.border-b {
    border-bottom-width: 1px;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-opacity-50 {
    --tw-bg-opacity: 0.5;
}
.p-12 {
    padding: 3rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pb-24 {
    padding-bottom: 6rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.font-medium {
    font-weight: 500;
}
.leading-8 {
    line-height: 2rem;
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.opacity-50 {
    opacity: 0.5;
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.filter {
    -webkit-filter: var(--tw-filter);
    filter: var(--tw-filter);
}
.transition-colors {
    transition-property: color, background-color, border-color, fill, stroke,
        -webkit-text-decoration-color;
    -webkit-transition-property: color, background-color, border-color, fill,
        stroke, -webkit-text-decoration-color;
    -o-transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    -webkit-transition-property: color, background-color, border-color, fill,
        stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, fill, stroke,
        -webkit-text-decoration-color;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}
.duration-200 {
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}
.ease-in-out {
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*
 * l-header
 */
.l-header {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.l-header__container {
    width: 100%;
}
@media (min-width: 640px) {
    .l-header__container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .l-header__container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .l-header__container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .l-header__container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .l-header__container {
        max-width: 1536px;
    }
}
.l-header__container {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.25rem;
}
@media (min-width: 768px) {
    .l-header__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.l-header__container__logo {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
    .l-header__container__logo {
        margin-bottom: 0px;
    }
}
.l-header__container__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.5rem;
}
@media (min-width: 768px) {
    .l-header__container__nav {
        margin-left: auto;
    }
}
.l-header__container__nav__user {
    margin-right: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*
 * l-main
 */
.l-main {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.l-main__container {
    width: 100%;
}
@media (min-width: 640px) {
    .l-main__container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .l-main__container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .l-main__container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .l-main__container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .l-main__container {
        max-width: 1536px;
    }
}
.l-main__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 4rem;
}
.l-main__container__heading {
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .l-main__container__heading {
        margin-bottom: 1.5rem;
    }
}
.l-main__container__heading h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
    .l-main__container__heading h2 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}
.l-main__container__heading__strap {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
    .l-main__container__heading__strap {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}
/*
 * c-button
 */
.c-button {
    white-space: nowrap;
    border-radius: 0.25rem;
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.c-button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.c-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.c-button--sm {
    white-space: nowrap;
    border-radius: 0.25rem;
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.c-button--sm:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.c-button--sm:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.c-button--icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.25rem;
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.c-button--icon:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.c-button--icon:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
/*
 * c-badge
 */
.c-badge {
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));
}
@media (prefers-color-scheme: dark) {
    .c-badge {
        --tw-bg-opacity: 1;
        background-color: rgb(191 219 254 / var(--tw-bg-opacity));
    }
    .c-badge {
        --tw-text-opacity: 1;
        color: rgb(30 64 175 / var(--tw-text-opacity));
    }
}
/*
 * c-table
 */
.c-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.c-table table {
    min-width: 100%;
}
.c-table table > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}
.c-table thead {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.c-table tbody > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}
.c-table tbody {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.c-table th {
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.c-table td {
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.c-table__container {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    overflow-x: auto;
}
.c-table__container::-webkit-scrollbar {
    width: 8px;
}
.c-table__container::-webkit-scrollbar-track {
    background-color: #d1eafa;
}
.c-table__container::-webkit-scrollbar-thumb {
    background-color: #008be6;
}
@media (min-width: 640px) {
    .c-table__container {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
}
@media (min-width: 1024px) {
    .c-table__container {
        margin-left: -2rem;
        margin-right: -2rem;
    }
}
.c-table__container__space {
    display: inline-block;
    min-width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}
@media (min-width: 640px) {
    .c-table__container__space {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .c-table__container__space {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.c-table__container__space__shadow {
    overflow: hidden;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 640px) {
    .c-table__container__space__shadow {
        border-radius: 0.5rem;
    }
}
/*
 * p-typingscreen
 */
.p-typingscreen {
    position: relative;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
.p-typingscreen__start {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.p-typingscreen__count {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.p-typingscreen__kana {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.p-typingscreen__mana {
    padding-top: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}
.p-typingscreen__romaji {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
.p-typingscreen__romaji__show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.p-typingscreen__romaji__show span {
    min-width: 0.5em;
}
.p-typingscreen__romaji__show span:empty {
    min-width: inherit;
}
.hankaku {
    position: relative;
}
.hankaku::after {
    content: "";
    width: 0.3em;
    height: 0.8em;
    position: absolute;
    left: 0;
    bottom: 0.1em;
    border: 1px #00f7ff solid;
}
.hankaku-typed {
    position: relative;
}
.hankaku-typed::after {
    content: "";
    width: 0.3em;
    height: 0.8em;
    position: absolute;
    left: 0;
    bottom: 0.1em;
    border: 1px #666 solid;
}
.p-typingscreen__romaji__show .typed {
    color: #ff9700;
}
.p-typingscreen__romaji__show .untyped {
    color: #fff;
}
.p-typingscreen__romaji__typed {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
}
.p-typingscreen__romaji__untyped {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.p-typingscreen__successtype {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}
.p-typingscreen__misstype {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}
/*
 * p-keyboard
 */
.p-keyboard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    max-width: 768px;
    -ms-grid-columns: minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr)
        1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px
        minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr);
    grid-template-columns: repeat(90, minmax(0, 1fr));
    gap: 1px;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding: 0.25rem;
    text-align: center;
}
@media (min-width: 640px) {
    .p-keyboard {
        gap: 0.25rem;
    }
}
.p-keyboard__key--normal {
    -ms-grid-column-span: 6;
    grid-column: span 6 / span 6;
    aspect-ratio: 1 / 1;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.p-keyboard__key--md {
    -ms-grid-column-span: 9;
    grid-column: span 9 / span 9;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.p-keyboard__key--lg {
    -ms-grid-column-span: 11;
    grid-column: span 11 / span 11;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.p-keyboard__key--xl {
    -ms-grid-column-span: 13;
    grid-column: span 13 / span 13;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.p-keyboard__key--enter {
    position: relative;
    -ms-grid-column-span: 9;
    grid-column: span 9 / span 9;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.p-keyboard__key--enter::after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75%;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    content: "";
    height: calc(200% + 1px);
    /* gap-px */
}
@media (min-width: 640px) {
    .p-keyboard__key--enter::after {
        height: calc(200% + 0.25rem);
        /* sm:gap-1 */
    }
}
.p-keyboard__key--max {
    -ms-grid-column-span: 35;
    grid-column: span 35 / span 35;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.p-keyboard__margin--md {
    -ms-grid-column-span: 7;
    grid-column: span 7 / span 7;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.p-keyboard__margin--lg {
    -ms-grid-column-span: 9;
    grid-column: span 9 / span 9;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.p-keyboard__active,
.p-keyboard__active::after {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}
/*
 * p-fingers
 */
.p-hands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3rem;
}
.p-fingers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.25rem;
}
@media (min-width: 640px) {
    .p-fingers {
        gap: 0.5rem;
    }
}
.p-fingers__finger--sm {
    /* 親指 */
    height: 1.25rem;
    width: 1rem;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
@media (min-width: 640px) {
    .p-fingers__finger--sm {
        height: 2.5rem;
    }
    .p-fingers__finger--sm {
        width: 2rem;
    }
}
.p-fingers__finger--md {
    /* 小指 */
    height: 1.5rem;
    width: 1rem;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
@media (min-width: 640px) {
    .p-fingers__finger--md {
        height: 3rem;
    }
    .p-fingers__finger--md {
        width: 2rem;
    }
}
.p-fingers__finger--lg {
    /* 人差し指, 薬指 */
    height: 2rem;
    width: 1rem;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
@media (min-width: 640px) {
    .p-fingers__finger--lg {
        height: 4rem;
    }
    .p-fingers__finger--lg {
        width: 2rem;
    }
}
.p-fingers__finger--xl {
    /* 中指 */
    height: 2.5rem;
    width: 1rem;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
@media (min-width: 640px) {
    .p-fingers__finger--xl {
        height: 5rem;
    }
    .p-fingers__finger--xl {
        width: 2rem;
    }
}
.p-finger__active {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}
/*
 * p-typingresult
 */
.p-typingresult {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 40;
}
.p-typingresult__bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    opacity: 0.5;
}
.p-typingresult__card {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 91.666667%;
    min-width: 780px;
    max-width: 780px;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
@media (min-width: 640px) {
    .p-typingresult__card {
        width: 40%;
        min-width: 680px;
    }
}
@media (min-width: 768px) {
    .p-typingresult__card {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .p-typingresult__card {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
.p-typingresult__card {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.p-typingresult__card h3 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.p-typingresult__card ul {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.p-typingresult__card li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 0.5rem;
    border-bottom-width: 2px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.p-typingresult__card li span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
/*
 * p-typingtestscreen
 */
.p-typingtestscreen {
    position: relative;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
}
.p-typingtestscreen__start {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.p-typingtestscreen__count {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.p-typingtestscreen__flex {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
}
.p-typingtestscreen__typenumber,
.p-typingtestscreen__time {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding: 0.25rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
}
@media (min-width: 768px) {
    .p-typingtestscreen__typenumber,
    .p-typingtestscreen__time {
        padding: 0.5rem;
    }
    .p-typingtestscreen__typenumber,
    .p-typingtestscreen__time {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
.p-typingtestscreen__typesbg {
    position: relative;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
    .p-typingtestscreen__typesbg {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
.p-typingtestscreen__typesbg {
    letter-spacing: 0.2em;
}
.p-typingtestscreen__typesfield,
.p-typingtestresultscreen__typesfield {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 8rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.p-typingtestscreen__typesfield {
    overflow: hidden;
}
.p-typingtestscreen__typesfield.long_sentence,
.p-typingtestresultscreen__typesfield {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 8px;
}
.p-typingtestscreen__typesfield.long_sentence::-webkit-scrollbar,
.p-typingtestresultscreen__typesfield::-webkit-scrollbar {
    width: 8px;
}
.p-typingtestscreen__typesfield.long_sentence::-webkit-scrollbar-track,
.p-typingtestresultscreen__typesfield::-webkit-scrollbar-track {
    background-color: #eee;
}
.p-typingtestscreen__typesfield.long_sentence::-webkit-scrollbar-thumb,
.p-typingtestresultscreen__typesfield::-webkit-scrollbar-thumb {
    background-color: #ff9700;
}
.p-typingtestresultscreen__typesfield {
    overflow: scroll;
}
.p-typingtestscreen__typesfield span {
    display: block;
    line-height: 2rem;
    width: 4%;
}
.p-typingtestscreen__typed,
.p-typingtestresultscreen__typed {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.p-typingtestscreen__untyped {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}
.p-typingtestscreen__misstyped {
    --tw-bg-opacity: 1;
    background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}
.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.hover\:text-blue-700:hover {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}
.focus\:z-10:focus {
    z-index: 10;
}
.focus\:border-indigo-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
}
.focus\:bg-transparent:focus {
    background-color: transparent;
}
.focus\:text-blue-700:focus {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}
.focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-indigo-200:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity));
}
.focus\:ring-blue-700:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(29 78 216 / var(--tw-ring-opacity));
}
.l-main nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.btn.btn-primary.stopBtn {
    position: absolute;
    bottom: -26px;
    right: 10px;
    font-size: 14px !important;
    line-height: 1em;
    height: auto !important;
    padding: 0.6em 0.8em !important;
    border-radius: 6px !important;
    border: 2px #fff solid !important;
}
.btn.btn-primary.stopBtn:hover {
    opacity: 1 !important;
    background-color: #ff3f00 !important;
}
#p-typingscreen__startscreen__upper__container,
#p-typingscreen__startscreen__option__container {
    position: relative;
    top: -18px;
    left: -70px;
    width: calc(100% + 140px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#p-typingscreen__startscreen__option__container {
    position: absolute;
    left: -55px;
    width: calc(100% + 110px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#p-typingscreen__startscreen__optionbtn__container {
    text-align: center;
    font-size: 0;
}
.p-typingscreen__startscreen__upper__container_Inner,
#p-typingscreen__startscreen__optionbtn__container,
#p-typingscreen__startscreen__sound__container {
    margin: 0 5px;
}
.p-typingscreen__startscreen__upper__container_Inner input[type="radio"],
#p-typingscreen__startscreen__optionbtn__container input[type="radio"],
#p-typingscreen__startscreen__sound__container input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
.p-typingscreen__startscreen__upper__container_Inner label,
#p-typingscreen__startscreen__optionbtn__container label,
#p-typingscreen__startscreen__sound__container label {
    cursor: pointer;
    display: inline-block;
    margin: 6px 0;
    text-align: center;
    background-color: #fff;
    color: #d1eafa;
    font-weight: 500;
    border-radius: 0;
    padding: 0 10px;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
}
#p-typingscreen__startscreen__sound__container .radioOut label {
    border-radius: 0 8px 8px 0 !important;
}
#p-typingscreen__startscreen__sound__container .radioOut:first-child label {
    border-radius: 8px 0 0 8px !important;
}
.p-typingscreen__startscreen__upper__container_Inner
    .radioOut:first-child
    label,
#p-typingscreen__startscreen__optionbtn__container .radioOut:first-child label {
    border-radius: 8px 0 0 8px;
}
.p-typingscreen__startscreen__upper__container_Inner .radioOut:last-child label,
#p-typingscreen__startscreen__optionbtn__container .radioOut:last-child label {
    border-radius: 0 8px 8px 0;
}
.p-typingscreen__startscreen__upper__container_Inner,
#p-typingscreen__startscreen__optionbtn__container,
#p-typingscreen__startscreen__sound__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.p-typingscreen__startscreen__upper__container_Inner .radioOut,
#p-typingscreen__startscreen__optionbtn__container .radioOut,
#p-typingscreen__startscreen__sound__container .radioOut {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.p-typingscreen__startscreen__upper__container_Inner
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__optionbtn__container
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__option__container
    input[type="radio"]:checked
    + label {
    background-color: #008be6;
    color: #fff;
    border: 1px #008be6 solid;
}
.p-typingscreen__startscreen__upper__container_Inner.soundRadio label,
#p-typingscreen__startscreen__optionbtn__container.soundRadio label,
#p-typingscreen__startscreen__sound__container.soundRadio label {
    font-size: 0;
    width: 50px;
    background-image: url(../img/sound_on_blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 16px;
}
.p-typingscreen__startscreen__upper__container_Inner.soundRadio
    .radioOut:last-child
    label,
#p-typingscreen__startscreen__optionbtn__container.soundRadio
    .radioOut:last-child
    label,
#p-typingscreen__startscreen__sound__container.soundRadio
    .radioOut:last-child
    label {
    background-image: url(../img/sound_off_blue.svg);
}
.p-typingscreen__startscreen__upper__container_Inner.soundRadio
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__optionbtn__container.soundRadio
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__sound__container.soundRadio
    input[type="radio"]:checked
    + label {
    background-image: url(../img/sound_on_white.svg);
}
.p-typingscreen__startscreen__upper__container_Inner.soundRadio
    .radioOut:last-child
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__optionbtn__container.soundRadio
    .radioOut:last-child
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__sound__container.soundRadio
    .radioOut:last-child
    input[type="radio"]:checked
    + label {
    background-image: url(../img/sound_off_white.svg);
}
.p-typingscreen__startscreen__upper__container_Inner.romanRadio label,
#p-typingscreen__startscreen__optionbtn__container.romanRadio label {
    font-size: 0;
    width: 50px;
    background-image: url(../img/roma_l_blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 16px;
}
.p-typingscreen__startscreen__upper__container_Inner.romanRadio
    .radioOut:last-child
    label,
#p-typingscreen__startscreen__optionbtn__container.romanRadio
    .radioOut:last-child
    label {
    background-image: url(../img/roma_s_blue.svg);
}
.p-typingscreen__startscreen__upper__container_Inner.romanRadio
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__optionbtn__container.romanRadio
    input[type="radio"]:checked
    + label {
    background-image: url(../img/roma_l_white.svg);
}
.p-typingscreen__startscreen__upper__container_Inner.romanRadio
    .radioOut:last-child
    input[type="radio"]:checked
    + label,
#p-typingscreen__startscreen__optionbtn__container.romanRadio
    .radioOut:last-child
    input[type="radio"]:checked
    + label {
    background-image: url(../img/roma_s_white.svg);
}
.p-typingscreen__startscreen__upper__container_Inner
    .radioOut:first-child
    label,
#p-typingscreen__startscreen__optionbtn__container .radioOut:first-child label,
#p-typingscreen__startscreen__option__container .radioOut:first-child label {
    border-radius: 4px 0 0 4px;
}
.p-typingscreen__startscreen__upper__container_Inner .radioOut:last-child label,
#p-typingscreen__startscreen__optionbtn__container .radioOut:last-child label,
#p-typingscreen__startscreen__option__container .radioOut:first-child label {
    border-radius: 0 4px 4px 0;
}
#p-typingscreen__startscreen__option__container {
    padding: 6px 0;
}
#p-typingscreen__startscreen__challenge__container {
    position: relative;
}
#p-typingscreen__startscreen__challenge__container label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 210px;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    margin: 6px 0;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
#p-typingscreen__startscreen__challenge__container input[type="checkbox"] {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
}
#p-typingscreen__startscreen__challenge__container
    input[type="checkbox"]:checked
    + label::after {
    background-color: #008be6;
    color: #fff;
}
#p-typingscreen__startscreen__challenge__container label::after {
    position: absolute;
    right: 0;
    color: #d1eafa;
    font-weight: 700;
    content: "クイズモード";
    -webkit-transition: left 0.1s;
    -o-transition: left 0.1s;
    transition: left 0.1s;
    width: 50%;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
}
#p-typingscreen__startscreen__challenge__container
    input[type="checkbox"]:checked
    + label::before {
    background-color: #fff;
    color: #d1eafa;
}
#p-typingscreen__startscreen__challenge__container label::before {
    position: absolute;
    left: 0;
    width: 50%;
    height: 30px;
    border-radius: 8px 0 0 8px;
    background-color: #008be6;
    content: "ノーマルモード";
    -webkit-transition: left 0.1s;
    -o-transition: left 0.1s;
    transition: left 0.1s;
    color: #fff;
    font-weight: 700;
}
#p-typingscreen__startscreen__challenge__container {
    margin-right: 5px;
    margin-left: auto;
}
#p-typingscreen__startscreen__english__container {
    position: relative;
}
#p-typingscreen__startscreen__english__container label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 210px;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    margin: 6px 0;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
#p-typingscreen__startscreen__english__container input[type="checkbox"] {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
}
#p-typingscreen__startscreen__english__container
    input[type="checkbox"]:checked
    + label::after {
    background-color: #008be6;
    color: #fff;
}
#p-typingscreen__startscreen__english__container label::after {
    position: absolute;
    right: 0;
    color: #d1eafa;
    font-weight: 700;
    content: "なし";
    -webkit-transition: left 0.1s;
    -o-transition: left 0.1s;
    transition: left 0.1s;
    width: 50%;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
}
#p-typingscreen__startscreen__english__container
    input[type="checkbox"]:checked
    + label::before {
    background-color: #fff;
    color: #d1eafa;
}
#p-typingscreen__startscreen__english__container label::before {
    position: absolute;
    left: 0;
    width: 50%;
    height: 30px;
    border-radius: 8px 0 0 8px;
    background-color: #008be6;
    content: "スペルあり";
    -webkit-transition: left 0.1s;
    -o-transition: left 0.1s;
    transition: left 0.1s;
    color: #fff;
    font-weight: 700;
}
#p-typingscreen__startscreen__english__container {
    margin-right: 5px;
    margin-left: auto;
}
#p-typingscreen__startscreen__sound__container {
    margin-right: 10px;
}
.plusex {
    min-width: 8em;
}
.plusex::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/close.svg) no-repeat left center;
    background-size: 100% auto;
    margin-right: 3px;
    line-height: 1;
    position: relative;
    top: 2px;
}
input[type="text"]#inputTypingField,
input[type="search"]#inputTypingField {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 1em;
    font-weight: 500;
    padding: 6px 18px;
    height: auto;
    border: 5px #ccc solid;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
}
input[type="search"]#inputTypingField::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
input[type="search"]#inputTypingField {
    -webkit-appearance: textfield;
}
input[type="search"]#inputTypingField:focus {
    outline-style: none;
}
input[type="search"]#inputTypingField::-webkit-search-decoration {
    display: none;
}
.underBtnInner button {
    vertical-align: middle;
}
button#typingFinishBtn {
    background-color: #fff;
    font-size: 20px;
    line-height: 16px;
    color: #ff3f00;
    -webkit-box-shadow: 0 0 0 1px #ff3f00;
    box-shadow: 0 0 0 1px #ff3f00;
}
button#typingFinishBtn::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/link_right_red.svg) no-repeat left center;
    background-size: 100% auto;
    margin-right: 3px;
    line-height: 1;
    position: relative;
    top: -1px;
}
#map {
    height: calc(100% - 170px);
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#map_top,
#map_img {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#map img {
    width: 100%;
    height: 100%;
    margin: auto;
    -o-object-fit: contain;
    object-fit: contain;
}
.typingOrderMap {
    background: url(../img/map_bg.png) center;
    background-size: 200px auto;
}
.typingOrderEnglish {
    background: url(../img/en_bg.png) center;
    background-size: 200px auto;
}
#remark {
    margin: 20px auto 0 !important;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    font-size: 14px;
    line-height: 1.5em;
    color: #fff;
}
@media (prefers-color-scheme: dark) {
    .dark\:border-gray-600 {
        --tw-border-opacity: 1;
        border-color: rgb(75 85 99 / var(--tw-border-opacity));
    }
    .dark\:bg-gray-700 {
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    }
    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .dark\:hover\:bg-gray-600:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(75 85 99 / var(--tw-bg-opacity));
    }
    .dark\:hover\:text-white:hover {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .dark\:focus\:text-white:focus {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .dark\:focus\:ring-blue-500:focus {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
    }
}
#app {
    overflow-x: hidden;
}
li.breadcrumb-item.active.fades {
    opacity: 0 !important;
}
.breadcrumb-item:first-child {
    min-width: 13em;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: none !important;
    content: "" !important;
    padding-right: 0 !important;
    width: 0.5rem !important;
    display: inline-block !important;
}
li.breadcrumb-item.active {
    -webkit-animation: titleanime 0.6s ease-in forwards;
    animation: titleanime 0.6s ease-in forwards;
    opacity: 0;
    -webkit-transform: scale(1.8, 1.8);
    -ms-transform: scale(1.8, 1.8);
    transform: scale(1.8, 1.8);
}
#keytouchRankInfoBtn {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#restart_Btn {
    min-width: 10em;
}
.plusUnder button.btnRankTable {
    font-size: 13px;
    height: 26px;
    line-height: 1em;
    color: #008be6;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #008be6;
    box-shadow: 0 0 0 1px #008be6;
    border-radius: 4px;
}
.plusUnder button.btnRankTable:hover {
    background-color: #fff !important;
    opacity: 0.8 !important;
}
/* ランキングスタジアム */
#app.rankingstudium {
    background-color: transparent !important;
}
#app.rankingstudium .headerInfo {
    color: #fff;
}
body:has(#app.rankingstudium) footer {
    position: relative;
}
body:has(#app.rankingstudium) footer::after {
    content: "";
    width: 100%;
    padding-top: 45px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../img/typingstudium/rscfooter.webp);
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: -1;
}
#app.rankingstudium::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: #000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
#app.rankingstudium header {
    background-color: rgba(0, 0, 0, 0.6);
}
.tsicons {
    background-color: #fff !important;
    border: 1px #fff solid !important;
}
#app.rankingstudium span.today {
    background-size: auto 16px;
    height: 17px;
    width: 16px;
}
.myranking {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 0 #ff3f00, 2px 0 0 #ff3f00, 0 -2px 0 #ff3f00,
        -2px 0 0 #ff3f00, -2px -2px 0 #ff3f00, 2px -2px 0 #ff3f00,
        -2px 2px 0 #ff3f00, 2px 2px 0 #ff3f00;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: calc(25% + 3rem);
    padding-right: calc(15% + 3rem);
}
#app.rankingstudium .typingOrder .myranking {
    width: calc(100% - 40px);
}
#app.rankingstudium .typingOrder.typingOrderEnglish .myranking {
    margin-bottom: 0.5rem;
    position: static;
    margin-top: auto;
    width: 100%;
}
.myranking span {
    display: inline-block;
    padding: 3px 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
}
.myranking small {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4em;
    vertical-align: middle;
}
.myranking span::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -20%;
    width: 40px;
    height: 100%;
    -webkit-transform: scale(2) rotate(20deg);
    -ms-transform: scale(2) rotate(20deg);
    transform: scale(2) rotate(20deg);
    background-image: -o-linear-gradient(
        350deg,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.5) 100%,
        rgba(255, 255, 255, 0) 0%
    );
    background-image: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.5) 100%,
        rgba(255, 255, 255, 0) 0%
    );
    -webkit-animation-name: shiny;
    animation-name: shiny;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes shiny {
    0% {
        left: -20%;
    }
    70% {
        left: 120%;
    }
    100% {
        left: 120%;
    }
}
@keyframes shiny {
    0% {
        left: -20%;
    }
    70% {
        left: 120%;
    }
    100% {
        left: 120%;
    }
}
#app.rankingstudium .typingOrder {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    -webkit-box-shadow: 0 0 0 1px #999;
    box-shadow: 0 0 0 1px #999;
    padding: 10px 20px 0;
    min-height: 520px;
}
#app.rankingstudium #p-typingscreen__startscreen__upper__container::before {
    position: absolute;
    right: 3%;
    bottom: -430%;
    content: "";
    display: block;
    width: 30%;
    padding-top: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: rs01 1s linear;
    animation: rs01 1s linear;
}
@-webkit-keyframes rs01 {
    from {
        opacity: 0;
        -webkit-transform: translate(100%) scale(3);
        transform: translate(100%) scale(3);
    }
    70% {
        opacity: 0;
        -webkit-transform: translate(100%) scale(3);
        transform: translate(100%) scale(3);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0) scaleX(1);
        transform: translate(0) scaleX(1);
    }
}
@keyframes rs01 {
    from {
        opacity: 0;
        -webkit-transform: translate(100%) scale(3);
        transform: translate(100%) scale(3);
    }
    70% {
        opacity: 0;
        -webkit-transform: translate(100%) scale(3);
        transform: translate(100%) scale(3);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0) scaleX(1);
        transform: translate(0) scaleX(1);
    }
}
#app.rankingstudium {
    overflow: hidden;
}
#app.rankingstudium #p-typingscreen__startscreen__upper__container::after {
    position: absolute;
    left: 5%;
    bottom: -400%;
    content: "";
    display: block;
    width: 25%;
    padding-top: 24%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: rs02 1.1s linear;
    animation: rs02 1.1s linear;
}
@-webkit-keyframes rs02 {
    from {
        opacity: 0;
        -webkit-transform: translate(-100%) scale(0.2);
        transform: translate(-100%) scale(0.2);
    }
    80% {
        opacity: 0;
        -webkit-transform: translate(-100%) scale(0.2);
        transform: translate(-100%) scale(0.2);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0) scaleX(1);
        transform: translate(0) scaleX(1);
    }
}
@keyframes rs02 {
    from {
        opacity: 0;
        -webkit-transform: translate(-100%) scale(0.2);
        transform: translate(-100%) scale(0.2);
    }
    80% {
        opacity: 0;
        -webkit-transform: translate(-100%) scale(0.2);
        transform: translate(-100%) scale(0.2);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0) scaleX(1);
        transform: translate(0) scaleX(1);
    }
}
#app.rankingstudium .underBtn button.prevCourse,
#app.rankingstudium .underBtn button.nextCourse,
#app.rankingstudium .underBtn .underBtnInner {
    display: none;
}
#app.rankingstudium .l-main__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
#app.rankingstudium .order-1 {
    margin: 0 1rem 0 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 25%;
    min-width: initial;
}
#app.rankingstudium .order-2 {
    margin: 0 0 0 1rem;
    width: 15%;
    min-width: initial;
    min-width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    min-height: 530px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
#app.rankingstudium .order-0 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    min-width: initial;
    position: relative;
}
#app.rankingstudium .typingOrder.typingOrderEnglish {
    padding: 10px 60px 0;
    background: rgba(0, 0, 0, 0.7);
    border: 8px rgba(0, 0, 0, 0.8) solid;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#app.rankingstudium #map {
    background: #fff;
    height: calc(100% - 300px);
    border-radius: 16px;
    overflow: hidden;
    border: 4px #000 solid;
    -webkit-box-shadow: 0 0 0 1px #999;
    box-shadow: 0 0 0 1px #999;
}
#app.rankingstudium .p-typingscreen__start__important2 {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff;
}
#app.rankingstudium .c-table__container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
}
#app.rankingstudium .c-table table {
    background-color: transparent;
}
#app.rankingstudium .c-table table tr {
    background-color: transparent;
}
#app.rankingstudium .c-table table thead,
#app.rankingstudium .c-table table tbody {
    background-color: transparent;
}
#app.rankingstudium .c-table table thead tr:first-child th {
    font-size: 0.9rem !important;
    line-height: 1.4em;
    text-align: left;
}
#app.rankingstudium .c-table table thead th:first-child {
    border: none;
}
#app.rankingstudium .c-table table th,
#app.rankingstudium .c-table table td {
    font-size: 0.7rem !important;
    padding: 6px 6px;
    background-color: transparent;
    color: #fff;
}
#app.rankingstudium .c-table table tbody td {
    border-bottom: 1px #999 solid;
}
#app.rankingstudium .c-table table tr:first-child td:nth-child(2),
#app.rankingstudium .c-table:last-child table tr:first-child td {
    -webkit-animation: color 1.5s ease 1s infinite forwards;
    animation: color 1.5s ease 1s infinite forwards;
    color: #00f7ff;
}
@-webkit-keyframes color {
    0% {
        color: #00f7ff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #00f7ff;
    }
}
@keyframes color {
    0% {
        color: #00f7ff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #00f7ff;
    }
}
#app.rankingstudium #keyboard-area-init {
    margin-top: 2.5rem;
}
#app.rankingstudium .p-hands {
    display: none;
}
#app.rankingstudium .p-typingresult__card {
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 0 1px #999;
    box-shadow: 0 0 0 1px #999;
}
#app.rankingstudium .mb-4 strong {
    color: #fff;
}
#app.rankingstudium .l-main__container.test__container .order-1 {
    width: 25% !important;
    min-width: initial !important;
}
#app.rankingstudium
    .l-main__container.test__container
    .order-1
    .c-table:first-child {
    width: initial;
    margin: 0 auto;
}
#app.rankingstudium
    .l-main__container.test__container
    .order-1
    .c-table:last-child {
    width: initial;
    margin: 0 auto;
}
#app.rankingstudium .p-typingtestscreenOut {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 0 1px #999;
    box-shadow: 0 0 0 1px #999;
}
#app.rankingstudium .p-typingtestscreenOut .myranking {
    width: calc(100% - 1.5rem);
    margin-left: auto;
    margin-right: auto;
}
#app.rankingstudium .p-typingtestscreenOut .myranking:has(span) {
    padding-bottom: 5px;
}
#app.rankingstudium .p-typingtestscreen__typenumber,
#app.rankingstudium .p-typingtestscreen__time {
    background-color: transparent;
    color: #fff;
}
#app.rankingstudium .p-typingtestscreen__typesbg {
    position: relative;
}
#app.rankingstudium #p-typingscreen__startscreen__optionbtn__container,
#typingstudiumlongchara {
    position: relative;
}
#app.rankingstudium .p-typingtestscreenOut #typingstudiumlongchara {
    position: relative;
    top: 0;
    -webkit-animation: none;
    animation: none;
    height: 0;
    padding: 0;
    opacity: 1;
    background: transparent;
}
#app.rankingstudium .underBtn {
    background: transparent;
    padding: 0;
}
#app.rankingstudium #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium .p-typingtestscreenOut #typingstudiumlongchara::before {
    position: absolute;
    right: -6%;
    bottom: -350%;
    content: "";
    display: block;
    width: 34%;
    padding-top: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: rs01 1s linear;
    animation: rs01 1s linear;
}
#app.rankingstudium #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium .p-typingtestscreenOut #typingstudiumlongchara::after {
    position: absolute;
    left: 0;
    bottom: -340%;
    content: "";
    display: block;
    width: 26%;
    padding-top: 26%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: rs02 1.1s linear;
    animation: rs02 1.1s linear;
}
#app.rankingstudium #p-typingscreen__startscreen__option__container {
    position: relative;
}
#app.rankingstudium #p-typingscreen__startscreen__option__container::before {
    position: absolute;
    right: -6%;
    bottom: -350%;
    content: "";
    display: block;
    width: 34%;
    padding-top: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: rs01 1s linear;
    animation: rs01 1s linear;
    z-index: 2;
}
#app.rankingstudium #p-typingscreen__startscreen__option__container::after {
    position: absolute;
    left: 0;
    bottom: -340%;
    content: "";
    display: block;
    width: 26%;
    padding-top: 26%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: rs02 1.1s linear;
    animation: rs02 1.1s linear;
    z-index: 2;
}
/* デフォルト */
#app.rankingstudium:has(.tsi_default)::before {
    background-image: url(../img/typingstudium/rsbg_black.webp);
}
/* レッド */
#app.rankingstudium:has(.tsi_red)::before {
    background-image: url(../img/typingstudium/rsbg_red.webp);
}
#app.rankingstudium:has(.tsi_red)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_red)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_red)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_red)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_red01.webp);
}
#app.rankingstudium:has(.tsi_red)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_red)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_red)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_red)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_red02.webp);
}
/* ピンク */
#app.rankingstudium:has(.tsi_pink)::before {
    background-image: url(../img/typingstudium/rsbg_pink.webp);
}
#app.rankingstudium:has(.tsi_pink)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_pink)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_pink)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_pink)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_pink01.webp);
}
#app.rankingstudium:has(.tsi_pink)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_pink)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_pink)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_pink)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_pink02.webp);
}
/* ブルー */
#app.rankingstudium:has(.tsi_blue)::before {
    background-image: url(../img/typingstudium/rsbg_blue.webp);
}
#app.rankingstudium:has(.tsi_blue)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_blue)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_blue)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_blue)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_blue01.webp);
}
#app.rankingstudium:has(.tsi_blue)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_blue)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_blue)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_blue)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_blue02.webp);
}
/* イエロー */
#app.rankingstudium:has(.tsi_yellow)::before {
    background-image: url(../img/typingstudium/rsbg_yellow.webp);
}
#app.rankingstudium:has(.tsi_yellow)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_yellow)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_yellow)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_yellow)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_yellow01.webp);
}
#app.rankingstudium:has(.tsi_yellow)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_yellow)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_yellow)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_yellow)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_yellow02.webp);
}
/* ホワイト */
#app.rankingstudium:has(.tsi_white)::before {
    background-image: url(../img/typingstudium/rsbg_white.webp);
}
#app.rankingstudium:has(.tsi_white)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_white)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_white)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_white)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_white01.webp);
}
#app.rankingstudium:has(.tsi_white)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_white)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_white)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_white)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_white02.webp);
}
/* グリーン */
#app.rankingstudium:has(.tsi_green)::before {
    background-image: url(../img/typingstudium/rsbg_green.webp);
}
#app.rankingstudium:has(.tsi_green)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_green)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_green)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_green)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_green01.webp);
}
#app.rankingstudium:has(.tsi_green)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_green)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_green)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_green)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_green02.webp);
}
/* ブラック */
#app.rankingstudium:has(.tsi_black)::before {
    background-image: url(../img/typingstudium/rsbg_black.webp);
}
#app.rankingstudium:has(.tsi_black)
    #p-typingscreen__startscreen__upper__container::before,
#app.rankingstudium:has(.tsi_black)
    #p-typingscreen__startscreen__optionbtn__container::before,
#app.rankingstudium:has(.tsi_black)
    #p-typingscreen__startscreen__option__container::before,
#app.rankingstudium:has(.tsi_black)
    .p-typingtestscreenOut
    #typingstudiumlongchara::before {
    background-image: url(../img/typingstudium/rsc_black01.webp);
}
#app.rankingstudium:has(.tsi_black)
    #p-typingscreen__startscreen__upper__container::after,
#app.rankingstudium:has(.tsi_black)
    #p-typingscreen__startscreen__optionbtn__container::after,
#app.rankingstudium:has(.tsi_black)
    #p-typingscreen__startscreen__option__container::after,
#app.rankingstudium:has(.tsi_black)
    .p-typingtestscreenOut
    #typingstudiumlongchara::after {
    background-image: url(../img/typingstudium/rsc_black02.webp);
}
@-webkit-keyframes titleanime {
    0 {
        opacity: 0;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes titleanime {
    0 {
        opacity: 0;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
li.breadcrumb-item.active.fades {
    -webkit-animation: titleanime02 0.6s ease-in forwards;
    animation: titleanime02 0.6s ease-in forwards;
    opacity: 0 !important;
    -webkit-transform: scale(1.8, 1.8);
    -ms-transform: scale(1.8, 1.8);
    transform: scale(1.8, 1.8);
}
@-webkit-keyframes titleanime02 {
    0 {
        opacity: 0 !important;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    50% {
        opacity: 0 !important;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    100% {
        opacity: 1 !important;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes titleanime02 {
    0 {
        opacity: 0 !important;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    50% {
        opacity: 0 !important;
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
    }
    100% {
        opacity: 1 !important;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
span.mybest {
    font-size: 15px;
    line-height: 1.4em;
    font-weight: 800;
    color: #00f7ff;
}
@media (hover: hover) and (pointer: fine) and (min-width: 599px) {
    button#typingFinishBtn:hover {
        background-color: #fff !important;
        -webkit-box-shadow: 0 0 0 3px #ff3f00;
        box-shadow: 0 0 0 3px #ff3f00;
    }
}
@media (min-width: 640px) {
    .sm\:block {
        display: block;
    }
    .sm\:w-4\/5 {
        width: 80%;
    }
    .sm\:flex-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .sm\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem * var(--tw-space-x-reverse));
        margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    }
    .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse));
    }
    .sm\:px-0 {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 768px) {
    .md\:order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .md\:mt-0 {
        margin-top: 0px;
    }
    .md\:w-2\/5 {
        width: 40%;
    }
    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .md\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .lg\:w-2\/3 {
        width: 66.666667%;
    }
}
@media (max-width: 1084px) {
    span.mybest br {
        display: none;
    }
}
@media (max-width: 880px) {
    #p-typingscreen__startscreen__challenge__container label {
        width: 140px;
    }
    #p-typingscreen__startscreen__challenge__container label::after {
        content: "クイズ";
    }
    #p-typingscreen__startscreen__challenge__container label::before {
        content: "ノーマル";
    }
    #p-typingscreen__startscreen__english__container label {
        font-size: 11px;
        width: 140px;
    }
}
